.ViewUser{
    width: 25%;
    padding: 15px;
    background: #546e7a;
    margin: 10px;
    color: #fff;
    font-weight: 300;
    margin: 25px auto;
    border-radius: 5px;
 }
 .ViewUser .view-user-body{
    text-align: left;
}
.ViewUser .phone-website{
    color: orange;
    border-top: 2px solid gray;
}
 @media only screen and (max-width: 760px) {
    .ViewUser {
        width: 50%;
       }
}
 @media only screen and (max-width: 560px) {
    .ViewUser {
     width: 70%;
    }
}