.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header ul{
  display: flex;
  width: 80%;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.App-header ul li a{
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}
